<html>
<head>
<title>Markability - The low-calorie way to read the web</title>
</head>
<body>
<form action="/u" method="post">
Enter the URL to convert: <input type="text" length="80" name="u"></input><br>
Include preamble (lists page title, original link, etc.)? <input type="checkbox" name="preamble"></input><br>
Links at end of each paragraph? <input type="checkbox" name="paralink"></input><br>
Wrap to 78 characters per line? (some bugs and limitations) <input type="checkbox" name="textwrap"></input><br>
<input type="submit"></input>
</form>
</body>
</html>
